# Python virtual environment
venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Downloaded videos
downloads/

# IDE specific files
.vscode/
.idea/
*.swp
.DS_Store
